button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  min-width: 64px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  line-height: 40px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;

  &.color {
    &--blue {
      color: #fff;
      background-color: #2196f3;
    }

    &--white {
      color: #212121;
      background-color: #fafafa;
    }
  }

  &.style {
    &--default {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      padding: 0 16px;
      &::-moz-focus-inner {
        border: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        opacity: 0;
        transition: opacity 0.2s;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        padding: 50%;
        width: 32px; /* Safari */
        height: 32px; /* Safari */
        background-color: rgb(255, 255, 255);
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 1s, transform 0.5s;
      }

      &:active::after {
        opacity: 0.32;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0s;
      }

      &:disabled {
        color: rgba(0, 0, 0, 0.38);
        background-color: rgba(0, 0, 0, 0.12);
        box-shadow: none;
        cursor: initial;
      }

      &:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }

      &:hover:focus::before {
        opacity: 0.3;
      }

      &:hover,
      &:focus {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      }

      &:hover::before {
        opacity: 0.08;
      }

      &:focus::before {
        opacity: 0.24;
      }

      &:disabled::before,
      &:disabled::after {
        opacity: 0;
      }
    }
  }
}
