form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;

  & > div {
    position: relative;

    input {
      background-color: transparent;
      border: solid 1.5px #eee;
      border-radius: 6px;
      padding: 0 12px;
      transition: border ease-in-out 0.4s;
      height: 40px;
      width: calc(100% - (12px * 2));

      &.touched:invalid {
        border: solid 1.5px #f66;
        animation: shake 0.4s ease-in-out;

        & ~ label {
          color: #f66;
        }

        &:focus,
        &.dirty {
          & ~ label {
            top: 0px;
            left: 8px;
            color: #fff;
            font-size: 0.85em;
            background-color: #f66;
          }
        }
      }

      &.dirty {
        border: solid 1.5px #eee;
        & ~ label {
          top: 0px;
          left: 8px;
          color: #999;
          font-size: 0.85em;
          background-color: #fff;
        }
      }

      &:focus {
        border: solid 1.8px #2196f3;
        & ~ label {
          top: 0px;
          left: 8px;
          color: #fff;
          font-size: 0.85em;
          background-color: #2196f3;
        }
      }
    }

    label {
      transition: all ease-in-out 0.4s;
      background-color: transparent;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;

      border-radius: 3px;
      color: #999;
      left: 12px;
      padding: 3px 6px;
    }
  }
}
