@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import "reset";
@import "animations";
@import "fonts";
@import "forms";
@import "buttons";

header,
ul {
	margin-bottom: 25px;
}

.title {
	margin-bottom: 10px;
}

.container {
	max-width: 720px;
}